.listagem {
    max-width: 200px;
    margin-top: 20px;
}

.scroll {
    overflow: scroll;
    height:107vh;
    overflow-x: hidden;
    padding-right: 10px;

}

nav::-webkit-scrollbar {
    width: 12px;
    ;  
}

nav::-webkit-scrollbar-track {
  background: #460B2D;        /* color of the tracking area */
}

nav::-webkit-scrollbar-thumb {
  background-color: #090324;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #460B2D;  /* creates padding around scroll thumb */
}


.listagem ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.listagem .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: #6B727A;
    color: #FFFFFF;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 60px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.15s ease-in-out;
    
}

.listagem .pokemon:hover {
    transform: scale(1.10);
}

.listagem .pokemon img {
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon span {
    padding-right: 10px;
}

.listagem .pokemon.ativo {
    background-color: #4B0744;
}