.back {
margin-top: -55px;
background-image: url(../imagens-style/pokeball-planetx-wallpaper.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding-bottom: 10px;
}

.linkedin-logo {
    width: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .github-logo {
    width: 60px;
    height: 30px;
    position: absolute;
    top: 55px;
    right: 10px;
  }

.topo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #090324;
}